
.content {
    display: flex;
    justify-content: center;
}
.gridContent {
    overflow: auto;
    min-height: 450px;
    min-width: 980px;
    max-height: 450px;
    max-width: 980px;
}

.button {
    background-color: rgba(0,0,0,0);
    border: 1px solid #C1E5FF;
    padding: 8px;
    width: 120px;
    color: #C1E5FF;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #C1E5FF;
        border: 1px solid rgba(0,0,0,0);
        color: #242544;
    }
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}
.descriptions {
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: 16px;
}